@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

html body {
    background-color: rgb(141, 141, 141);
}

#Eno {
    display: block;
    margin: auto;
    width: 80%;
    text-align: center;
}

#Sidebar {
    display: block;
    text-align: left;
    position: fixed;
    left: 0;
    top: 0;
    width: 12%;
    padding: 0;
    margin: 0;
    height: 100%;
    padding-left: 4px;

    background-color: gray;
}

#Sidebar li {
    margin: 2px;
    width: 90%;
    padding: 0;
    text-align: center;
}

#nav {
    text-align: center;
}
  
#Main {
    display: block;
    position: relative;
    width: 88%;
    left: 12%;
}

article {
    display: block;
    text-align: center;
}

li {
    text-align: center;
    width: auto;
    padding: 1%;
    margin: 4px;
    display: inline-block;
    vertical-align: top; 
    border: solid black 4px;

    transition: background-color 1s;
    font-size: 2em;
}

li:hover {
    background-color: rgba(0,0,0, 0.4);
}

a {
    transition: color 1s;
    color: navy;
    padding: 0;
    margin: 0;
}

a:hover {
    color: cyan;
}


#Eno {
  display: block;
  margin: auto;
}